In [1]:
import pandas as pd
import datetime as dt

In [3]:
import pandas as pd
technologies = ({
    'Courses':["Spark","PySpark","Hadoop"],
    'Fee' :[22000,25000,23000],
    'InsertedDate':["2021/11/24","2021/11/25","2021/11/26"]
               })
df = pd.DataFrame(technologies)
# Use pandas.to_datetime() to change datetime format
df['DateTypeCol'] = pd.to_datetime(df.InsertedDate)
print(df)



# Below are quick example
# Convert datetype to string
df['ConvertedDate']=df['DateTypeCol'].astype(str)

# Using to_datetime() & astype()
df['ConvertedDate']=pd.to_datetime(df['DateTypeCol'].astype(str), format='%Y/%m/%d')

# Conver DataTime to Different Format
df['ConvertedDate'] = df['DateTypeCol'].dt.strftime('%m/%d/%Y')

# Using DataFrame.style.format() and lambda function
df.style.format({"DateTypeCol": lambda t: t.strftime("%d/%m/%Y")})

# Convert multiple date columns to string type
date_columns = ["date_col1","date_col2","date_col3"]
df[date_columns] = df[date_columns].astype(str)

# Convert all date columns to string type
for col in  df.select_dtypes(include=['datetime64']).columns.tolist():
    df[col] = df[col].astype(str)

# Convert all date columns to string type
date_columns = df.select_dtypes(include=['datetime64']).columns.tolist()
df[date_columns] = df[date_columns].astype(str)

   Courses    Fee InsertedDate DateTypeCol
0    Spark  22000   2021/11/24  2021-11-24
1  PySpark  25000   2021/11/25  2021-11-25
2   Hadoop  23000   2021/11/26  2021-11-26

KeyError: "None of [Index(['date_col1', 'date_col2', 'date_col3'], dtype='object')] are in the [columns]"

The DataFrame object before deleting the column
   a  b
0  1  2
1  2  4
2  3  6
The DataFrame object after deleting the column a
   b
0  2
1  4
2  6

In [1]:
pos= 
raw = 'gyro_sunshot_31-12-19.csv'
dfr = pd.read_csv(raw, names=['fix_nr','time','obs_sun_D','obs_sun_M','obs_sun_S','d0','d1','d2','obs_gyro_true','d3','d4']) 
df = dfr.drop(['d0','d1','d2','d3','d4'], axis=1) # d0/d4 will be removed

df.head()

   fix_nr       time  obs_sun_D  obs_sun_M  obs_sun_S  obs_gyro_true
0       1   08:41:44        343         41         24        155.063
1       2   08:43:16        344          6          0        154.985
2       3   08:44:12        344         16         44        155.055
3       4   08:44:52        344         22          5        155.058
4       5   08:46:01        344         35         30        155.076

In [5]:
# Create separate dataframe for DMS to decimal operations & datetime column
d1 = {'fix_nr':  dfr['fix_nr'], 
      'obs_sun_D': dfr['obs_sun_D'],
      'obs_sun_M': dfr['obs_sun_M'],
      'obs_sun_S': dfr['obs_sun_S']
    }
df1 = pd.DataFrame( data=d1 ) # dms 2 deg.deg

df1["obs_sun_decimal"] = df1[["obs_sun_D","obs_sun_M","obs_sun_S"]].apply(lambda row: row.values[0] + row.values[1]/60 + row.values[2]/3600, axis=1)
df1.head()

 
df['obs_sun_decimal'] = df1['obs_sun_decimal']

# adding a date to the time in dfr
d2 = {'date': ['2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
             '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
             '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31',
             '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31', '2019-12-31']
     }
df2= pd.DataFrame(data=d2)
df2['time'] = dfr.time # default time is UTC
df2['datetime_UTC'] = pd.to_datetime(df2['date'].astype(str) + ' ' + df2['time'].astype(str))

"""
DF TO DATETIME w/ Pandas:
https://stackoverflow.com/questions/53470304/convert-time-object-to-datetime-format-in-python-pandas

print(pd.to_datetime(df['date'].astype(str) + ' ' + df['time'].astype(str)))
"""
df2

# adding additional columns to df 
df['obs_sun_decimal'] = df1['obs_sun_decimal']
df['datetime_UTC']= df2['datetime_UTC']
col_order = ['fix_nr','datetime_UTC','obs_sun_D','obs_sun_M','obs_sun_S','obs_sun_decimal','obs_gyro_true'] 
df.drop(['time'], axis=1)
df = df.reindex(columns=col_order)
df

,fix_nr,datetime_UTC,obs_sun_D,obs_sun_M,obs_sun_S,obs_sun_decimal,obs_gyro_true
0,1,2019-12-31 08:41:44,343,41,24,343.690000,155.063
1,2,2019-12-31 08:43:16,344,6,0,344.100000,154.985
2,3,2019-12-31 08:44:12,344,16,44,344.278889,155.055
3,4,2019-12-31 08:44:52,344,22,5,344.368056,155.058
4,5,2019-12-31 08:46:01,344,35,30,344.591667,155.076
...,...,...,...,...,...,...,...
15,16,2019-12-31 09:08:50,349,42,35,349.709722,154.768
16,17,2019-12-31 09:09:13,349,51,28,349.857778,154.733
17,18,2019-12-31 09:09:33,350,3,0,350.050000,154.597
18,19,2019-12-31 09:09:57,350,16,46,350.279444,154.509
19,20,2019-12-31 09:10:20,350,18,0,350.300000,154.505

In [12]:
from skyfield.api import N,S,E,W, wgs84
from skyfield.api import load

ts = load.timescale()
t = ts.utc(2019, 12, 31)
planets = load('de421.bsp')
earth, sun = 
# Altitude and azimuth in the sky of a
# specific geographic location
earth = planets['earth']
Nieuwe_diep = earth + wgs84.latlon(42.3583 * N, 71.0603 * W, elevation_m=43)
astro = boston.at(ts.utc(1980, 3, 1)).observe(mars)
app = astro.apparent()

alt, az, distance = app.altaz()
print(alt.dstr())
print(az.dstr())
print(distance)

SyntaxError: invalid syntax (3227825788.py, line 7)

In [11]:
from skyfield.api import load

ts = load.timescale()
t = ts.utc(2019, 12, 31)
planets = load('de421.bsp')
earth, mars = planets['earth'], planets['mars']

# Three positions in a single line of code!
d = earth.at(t).observe(mars).apparent().distance()

print('Mars is {:.2f} au from Earth'.format(d.au))

Mars is 2.19 au from Earth

In [10]:
print(planets)

SPICE kernel file 'de421.bsp' has 15 segments
  JD 2414864.50 - JD 2471184.50  (1899-07-28 through 2053-10-08)
      0 -> 1    SOLAR SYSTEM BARYCENTER -> MERCURY BARYCENTER
      0 -> 2    SOLAR SYSTEM BARYCENTER -> VENUS BARYCENTER
      0 -> 3    SOLAR SYSTEM BARYCENTER -> EARTH BARYCENTER
      0 -> 4    SOLAR SYSTEM BARYCENTER -> MARS BARYCENTER
      0 -> 5    SOLAR SYSTEM BARYCENTER -> JUPITER BARYCENTER
      0 -> 6    SOLAR SYSTEM BARYCENTER -> SATURN BARYCENTER
      0 -> 7    SOLAR SYSTEM BARYCENTER -> URANUS BARYCENTER
      0 -> 8    SOLAR SYSTEM BARYCENTER -> NEPTUNE BARYCENTER
      0 -> 9    SOLAR SYSTEM BARYCENTER -> PLUTO BARYCENTER
      0 -> 10   SOLAR SYSTEM BARYCENTER -> SUN
      3 -> 301  EARTH BARYCENTER -> MOON
      3 -> 399  EARTH BARYCENTER -> EARTH
      1 -> 199  MERCURY BARYCENTER -> MERCURY
      2 -> 299  VENUS BARYCENTER -> VENUS
      4 -> 499  MARS BARYCENTER -> MARS